{% extends "base.html" %}

{% block title %}Confirmation réclamation|Epsilearn{% endblock %}


{% block content %}
    <style>
        body {
            background-color: #f5f5f5;
            color: #333;
        }

        .style {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
        }

        .btn {
            font-size: 16px;
            padding: 10px 20px;
        }

        .success-icon {
            font-size: 48px; /* Ajustez la taille de l'icône selon vos besoins */
            color: green; /* Couleur de l'icône de succès */
        }
    </style>
<body>
    <div class="container style mt-5">
        <h1 class="text-center mb-4">Merci !</h1>
        <i class="fas fa-check-circle success-icon"  style="margin-bottom: 20px;"></i>
        <p class="text-center">Votre réclamation a été soumise avec succès. Nous la traiterons dans les plus brefs délais.</p>
        <div class="d-flex justify-content-center">
            <a href="/reclamation" class="btn btn-primary">Retour à la page de reclamation</a>
        </div>
    </div>

    <!-- Link to Bootstrap JS (jQuery and Popper.js included) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}