{% extends "base.html" %}

{% block title %}Confirmation offre|Epsilearn{% endblock %}


{% block content %}
    <!-- Inclure le CSS Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Inclure le CSS de FontAwesome (pour les icônes) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
               body {
            background-color: #f5f5f5;
            color: #333;
        }
        /* Ajouter un style personnalisé */
        .confirmation-container {
            text-align: center;
            padding-top: 20px;
        }
        .confirmation-icon {
            font-size: 48px;
            color: #28a745; /* Couleur verte pour l'icône de vérification */
        }
        /* Ajouter des styles pour centrer le bouton */
        .center-button {
            display: flex;
            padding-bottom: 20px;
            justify-content: center;
            margin-top: 20px; /* Espacement du haut */
        }
    </style>
</head>
<body>
    <div class="container mt-5" style="background-color: white;width: fit-content;border-radius: 20px;">
        <div class="confirmation-container" >
            <i class="fas fa-check-circle confirmation-icon"></i>
            <h4 class="mt-3">Succès !</h4>
            <p>{{ message }}</p>
        </div>
        <div class="center-button"> <!-- Utilisation de la classe "center-button" -->
            <a href="/cours-crees" class="btn btn-primary">Voir offres</a>
        </div>
    </div>

    <!-- Inclure les fichiers JavaScript Bootstrap (facultatif) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}