{% extends "base.html" %}

{% block style %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Choose Dates</title>
<!-- Inclure les fichiers Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body{
      background-color: #f5f5f5;
    }

  .container {
    margin-top: 50px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="mb-4">Choose Two Dates</h3>
    <form method="post" data-demande-id="{{ demande_id }}">
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="datetime-local" class="form-control" id="startDate" name="startDate" required>
      </div>
      <div class="d-flex justify-content-between" style="margin-top: 100px;">
        <button type="button" class="btn btn-secondary" onclick="goBack()">Previous</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <!-- Inclure les fichiers Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    const currentDate = new Date();
    
    // Calculate the minimum date for the date picker
    const minDate = new Date(currentDate.getTime() + (24 * 60 * 60 * 1000)); // Add one day
    
    // Format the minimum date for the date picker input
    const minDateFormatted = `${minDate.getFullYear()}-${String(minDate.getMonth() + 1).padStart(2, '0')}-${String(minDate.getDate()).padStart(2, '0')}T00:00`;

    // Set the min attribute for both inputs
    const startDateInput = document.getElementById('startDate');
    startDateInput.min = minDateFormatted;
   function goBack() {
      window.location.href = "/programme";
    }

    document.querySelector('form').addEventListener('submit', function (event) {
  event.preventDefault(); // Prevent the form from submitting normally
    const dt1Value = document.querySelector('#startDate').value;
    const form = event.currentTarget;
    const demandeId = form.dataset.demandeId;
    var data={"dt1":dt1Value
  }
    fetch( `/report/${demandeId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
    .then(function (response) {
      // Rediriger l'utilisateur en fonction du rôle sélectionné
      if (dt1Value.trim() !== '') {
        window.location.href = "/programme";
      }
    })
    .catch(function (error) {
      // Gérer les erreurs de requête
    });
   
  });
  </script>
{% endblock %}